# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Distribution
build/
dist/
*.egg-info/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Python Cache
# ==========================

.pytest_cache/
.mypy_cache/

# ==========================
# Coverage
# ==========================

.coverage
htmlcov/

# ==========================
# AWS Credentials
# ==========================

.aws/

# ==========================
# Temporary Files
# ==========================

*.tmp
*.bak